---
layout: aplicacoesweb2
root: ../
---

<section class="movie">
    <div class="container-fluid movie__infos">
        <header class="movie__header">
            <h1 class="movie__header__title">
                {{ site.title }}

                <small lang="en">{{ site.titleoriginal }}</small>
            </h1>

            <div class="movie__header__meta">
                <ul class="movie__header__meta__list movie__header__meta__list--inline">
                    <li title="Faixa etaria">{{ site.contentrating }}</li>
                    <li title="Duração">{{ site.length }}</li>
                    <li title="Gênero(s)">{% for genre in site.genres %}{{ genre }}{% unless forloop.last %}, {% endunless %}{% endfor %}</li>
                    <li title="Paíse(s) de origem">{% for country in site.countries %}{{ country }}{% unless forloop.last %}, {% endunless %}{% endfor %}</li>
                </ul>

                <dl class="movie__header__meta__list clearfix">
                    <dt>Direção:</dt>
                    <dd>{{ site.director }}</dd>

                    <dt>Escritor(es):</dt>
                    <dd>{% for writer in site.writers %}{{ writer }}{% unless forloop.last %}, {% endunless %}{% endfor %}</dd>
                </dl>
            </div>
        </header>

        <figure class="movie__poster">
            <img class="img-responsive" alt="" src="{{ page.root }}assets/aplicacoes-web/images/alien.jpg" />

            <figcaption>Cartaz de {{ site.title }}</figcaption>
        </figure>

        <section class="movie__summary">
            <h2>Sinopse</h2>

            <p>{{ site.description }}</p>
        </section>

        <section class="movie__cast">
            <h2>Elenco</h2>

            <ul class="row movie__cast__list">
                {% for ator in site.data.aplicacoes-web.elenco %}
                <li class="col-xs-6 col-sm-4 col-md-3 movie__cast__item">
                    <figure>
                        <img class="img-responsive" alt="" src="{{ page.root }}{{ ator.imagem }}" />

                        <figcaption>
                            {{ ator.nome }}
                            <br />
                            <i>({{ ator.personagem }})</i>
                        </figcaption>
                    </figure>
                </li>

                {% endfor %}
            </ul>
        </section>

        <section class="movie__thumbs">
            <h2>Galeria</h2>

            <div class="movie__pics" id="movie__pics">
                {% for imagem in site.data.aplicacoes-web.thumbs | limit:1 %}
                    <img class="img-responsive" id="movie__pic__current" alt="{{ imagem.alt }}" src="{{ page.root }}{{ imagem.src }}" />
                {% endfor %}

                <ol class="movie__pics__list">
                {% for imagem in site.data.aplicacoes-web.thumbs %}
                    <li class="movie__pics__item {% if forloop.first %}current{% endif %}">
                        <img class="img-responsive" alt="{{ imagem.alt }}" src="{{ page.root }}{{ imagem.src }}" />
                    </li>
                {% endfor %}
                </ol>
            </div>
        </section>

        <section class="movie__trailer">
            <h2>Trailer</h2>

            <div class="embed-responsive embed-responsive-16by9">
                <iframe  class="embed-responsive-item" width="640" height="360" src="https://www.youtube.com/embed/jQ5lPt9edzQ" frameborder="0" allowfullscreen></iframe>
            </div>
        </section>
    </div>
</section>
