---
layout: default
---

<nav class="menu">
    <ul>
        <li>
            <a href="#class__01">01. Padrões Web</a>
        </li>
        <li>
            <a href="#class__02">03. Tecnologias Front-end</a>
        </li>
    </ul>
</nav>


<section class="class"
id="class__02">
    <header class="class__header">
        <h1 class="class__title">
            <small>03.</small>
            Tecnologias Front-end
        </h1>

        <p class="class__teacher">
            <b>Professor:</b>
            Márcio Kutova
        </p>
    </header>

    <article class="class__project">
        <h3 class="class__project__title">
            <small>Projeto 1:</small>
            Gestão de tarefas com jQuery
        </h3>

        <div class="class__project__details">
            <p>Melhore o código do exemplo de Gestão de Tarefas com IndexedDB da unidade 1, substituindo as operações JavaScript, sempre que possível, por jQuery e delegando todas as operações de acesso (leitura e escrita) ao BD a Web Workers.</p>
        </div>

        <div class="btn__group">
            <a class="btn"
            href="tecnologias-front-end/projeto-1/index.html">Ver o projeto</a>

            <a target="_blank"
            href="https://gitlab.com/leandro-puc/tecnologias-front-end/tree/master/unidade02/projeto01">Ver no repositório</a>
        </div>
    </article>
</section>


<section class="class"
id="class__01">
    <header class="class__header">
        <h1 class="class__title">
            <small>01.</small>
            Padrões Web
        </h1>

        <p class="class__teacher">
            <b>Professor:</b>
            Márcio Kutova
        </p>
    </header>

    <article class="class__project">
        <h3 class="class__project__title">
            <small>Projeto 1:</small>
            Página de um filme
        </h3>

        <div class="class__project__details">
            <p>Usando apenas a HTML e a CSS, construa uma página Web que represente um filme de cinema (qualquer um, à sua preferência). Use algum site de cinema (ex.:adorocinema.com) para obter as informações necessárias.</p>

            <p>As informações que sua página deve conter são:</p>

            <ul>
                <li>Título do filme em português</li>
                <li>Título original do filme  (lembre-se do atributo de idioma)</li>
                <li>Ano de produção</li>
                <li>País(es) de origem</li>
                <li>Gênero(s)</li>
                <li>Recomendação de idade</li>
                <li>Diretor(es)</li>
                <li>Elenco (principais atores e papeis; mínimo de 3)</li>
                <li>Poster</li>
                <li>Imagens (mínimo de 3)</li>
                <li>Trailer (incorporado à página)</li>
                <li>Sinopse</li>
            </ul>

            <p>Os requisitos tecnológicos são:</p>

            <ul>
                <li>usar apenas HTML e CSS</li>
                <li>os códigos devem ser válidos (usar o HTML5 Validator e o CSS Validator, disponíveis na seção de links)</li>
            </ul>
        </div>

        <div class="btn__group">
            <a class="btn"
            href="aplicacoes-web/projeto-1.html">Ver o projeto</a>
        </div>
    </article>

    <article class="class__project">
        <h3 class="class__project__title">
            <small>Projeto 2:</small>
            Página responsiva de um filme
        </h3>

        <div class="class__project__details">
            <p>Agora você deve fazer dois ajustes à sua página de filme, apresentada na atividade do projeto 1:</p>

            <p>O primeiro ajuste é reformatá-la usando o Bootstrap. Ao empregar o Bootstrap, você deve assegurar que sua página será realmente responsiva, isto é, adequada para navegação tanto por um smartphone quanto por um computador. Para isso, o principal recurso do framework que você deve usar é o sistema de grades.</p>

            <p>O segundo ajuste é permitir a visualização das fotos a partir das suas versões reduzidas (thumbnails), da mesma forma que as lojas virtuais usam.</p>
        </div>

        <div class="btn__group">
            <a class="btn"
            href="aplicacoes-web/projeto-2.html">Ver o projeto</a>
        </div>
    </article>
</section>
