@charset "UTF-8";

*,
*:before,
*:after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

html {
    box-sizing: border-box;
    min-height: 100%;
    position: relative;
}

body {
    background-color: #fafafa;
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    line-height: 1.5rem;
}
/*
body:after {
    background-image: url(http://basehold.it/image.php?height=24);
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
}
body:hover:after {
    background-image: none;
    content: initial;
} */


a {
    color: #584e87;
    text-decoration: none;
}

a:hover,
a:focus {
    color: #2A2540;
    text-decoration: underline;
    outline-color: #2A2540;
}

a:visited { color: #f8463a; }

a[disabled],
a[disabled]:hover,
a[disabled]:focus,
a[disabled]:active,
a[disabled]:visited,
a.disabled,
a.disabled:hover,
a.disabled:focus,
a.disabled:active,
a.disabled:visited {
    color: #cec9e1;
    text-decoration: none;
    pointer-events: none;
}

ul, ol { list-style-position: inside; }


.container {
    max-width: 48rem;
    margin: 0 auto;
}

.main-header {
    padding-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.main-header__title {
    font-weight: 300;
    line-height: 1.5;
    margin: 0;
}

.main-header__title small {
    color: #999;
    font-size: .5em;
    font-weight: normal;
}

.main-header__meta {
    color: #999;
    font-size: .875rem;
    font-weight: 300;
    line-height: 1.714285;
}

.main-header__meta strong { font-weight: normal; }


.menu ul,
.menu li {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu {
    text-align: center;
    margin-bottom: 1.5rem;
}

.menu li {
    display: inline-block;
    vertical-align: middle;
}

.menu li:not(:first-child):before {
    content: ' . ';
    display: inline-block
}

.menu a,
.menu a:visited {
    color: #584e87;
    display: inline-block;
    padding-left: .5rem;
    padding-right: .5rem;
}

.menu a:hover,
.menu a:focus {
    background-color: #2A2540;
    color: #fff;
    text-decoration: none;
}

.class {
    background-color: #f6f6f6;
    border: .125rem solid #dadada;
    padding: 1.375rem;
    margin-bottom: 1.5rem;
}

.class__header {
    border-bottom: .125rem dashed #dadada;
    margin-bottom: 1.3rem;
}

.class__title {
    font-size: 1.5rem;
    font-weight: normal;
    line-height: 1.5;
    margin: 0;
}

.class__title small {
    color: #999;
    font-size: .6em;
    font-weight: bold;
}

.class__teacher {
    color: #999;
    font-size: .875rem;
    line-height: 1.72;
}

.class__project:not(:last-child) {
    border-bottom: .125rem dashed #dadada;
    padding-bottom: 1.4375rem;
    margin-bottom: 1.4375rem;
}

.class__project__title {
    font-size: 1rem;
    line-height: 1.5;

}

.class__project__title small {
    color: #999;
    font-size: .7em;
}

.class__project__details { margin-bottom: 1.5rem; }

.class__project__details,
.class__project__details p,
.class__project__details ul,
.class__project__details ol {
    color: #666;
    font-size: .875rem;
    line-height: 1.72;
}

.class__project__details > :not(:last-child) { margin-bottom: .75rem; }


.btn__group { text-align: center; }

.btn,
.btn:visited {
    background: none;
    background-color: #584e87;
    color: #fff;
    display: inline-block;
    padding: .75rem 1.5rem;
}

.btn:hover,
.btn:focus {
    background-color: #2A2540;
    color: #fff;
    text-decoration: none;
}

.btn__group > .btn + .btn,
.btn__group > .btn + a,
.btn__group > a + .btn { margin-left: .75rem }