*, *:after, *:before { box-sizing: inherit; }

html {
    box-sizing: border-box;
    min-height: 100%;
    position: relative;
}

body {
    background-color: #fafafa;
    color: #666;
    font-size: 1em;
    line-height: 1.5;
}

.hide { display: none; }

.container {
    max-width: 48rem; /* ~1140px */
    margin: 0 auto;
}

.area {
    background-color: #eee;
    border: .125rem solid #dadada;
    padding: 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}


/* alert */
[class*="alert--"] pre {
    font-size: .7em;
    font-weight: bold;
    margin: 0;
}

.alert--success,
.alert--danger {
    display: block;
    padding: 1rem;
    width: 100%;

    margin-top: 2rem;
    position: relative;
}

.alert--success {
    background-color: #c0d23e;
    color: #32370d;
}

.alert--danger {
    background-color: #e15e32;
    color: #3e1609;
}

.alert__close {
    background: none;
    border: 0;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 1;
    opacity: .6;

    height: auto;
    padding: 0;
    width: auto;

    margin: 0;
    position: absolute;
    top: 50%;
    right: 1rem;

    transform: translateY(-50%);
}

.alert__close:hover,
.alert__close:focus {
    opacity: 1;
    outline-color: transparent;
}


/* buttons */
.btn {
    background: none;
    background-color: #80bca3;
    border: .125rem solid #6fb397;
    color: #27493b;
    cursor: pointer;
    text-align: center;

    display: inline-block;
    height: 2.75rem;
    padding: .5rem 0;
    width: 2.75rem;

    vertical-align: middle;
}

.btn:hover,
.btn:focus {
    background-color: #5faa8b;
    border-color: #539d7e;
    color: #152820;
    outline-color: transparent;
    text-decoration: none;
}

.btn:active { box-shadow: inset 0 .25rem .125rem rgba(0,0,0, .1)  }

.btn--block { width: 100%; }

.btn--text {
    height: auto;
    padding: .125rem 1.5rem;
    width: auto;;
}

.btn--primary {
    background-color: #6490b1;
    border-color: #5484a7;
    color: #182631;
}

.btn--primary:hover,
.btn--primary:focus {
    background-color: #5484a7;
    border-color: #4b7796;
    color: #10191f;
}

.btn--success {
    background-color: #c0d23e;
    border-color: #b5c82f;
    color: #32370d;
}

.btn--success:hover,
.btn--success:focus {
    background-color: #a3b32a;
    border-color: #909f25;
    color: #0d0e03;
}

.btn--danger {
    background-color: #e15e32;
    border-color: #da4f20;
    color: #3e1609;
}
.btn--danger:hover,
.btn--danger:focus {
    background-color: #c3471d;
    border-color: #ad3f19;
    color: #110603;
}


/* label */
label {
    border: 0;
    clip: rect(0,0,0,0);
    overflow: hidden;
    padding: 0;
    height: 1px;
    width: 1px;
    margin: -1px;
    position: absolute;
}


/* inputs */
input[type="text"],
input[type="date"],
input[type="email"],
input[type="search"] {
    -webkit-appearance: textfield;
       -moz-appearance: textfield;
            appearance: textfield;
}

input[type="text"],
input[type="date"],
input[type="email"],
select {
    background-color: #fff;
    border: .125rem solid #dadada;
    color: inherit;

    display: block;
    height: 2.75rem;

    padding: .5rem 1rem;
    width: 100%;
}

input[type="text"]:hover,
input[type="date"]:hover,
input[type="email"]:hover,
select:hover {
    background-color: #fafafa;
    border-color: #d0d0d0;
}

input[type="text"]:focus,
input[type="date"]:focus,
input[type="email"]:focus,
select:focus {
    background-color: #fafafa;
    border-color: #80bca3;
    outline-color: transparent;
}

.input-group:before, .input-group:after { content: ''; display: table; }
.input-group:after { clear: both; }

.input-group { margin-bottom: 1rem; }

.input-group input,
.input-group select {
    width: calc(100% - 2.75rem);
    float: left;
}

.input__buscas:before, .input__buscas:after { content: ''; display: table; }
.input__buscas:after { clear: both; }

.input__buscas .input-group { float: left; }

.input__buscas .input-group:first-child {
    padding-right: .5rem;
    width: 60%;
}

.input__buscas .input-group:last-child {
    padding-left: .5em;
    width: 40%;
}

/* table */
table {
    border-collapse: collapse;
    width: 100%;
}

thead { border-bottom: .125rem solid #333; }

thead th {
    color: #333;
    text-align: left;
    padding-bottom: .3125rem;
    vertical-align: bottom;
}

thead th:first-child,
tbody td:first-child {
    font-weight: bold;
    text-align: right;
}

tbody td { padding: .3125rem; }

tbody tr:not(:first-child) td { border-top: .0625rem solid #ccc; }

tbody tr:nth-child(even) { background-color: #e6e6e6; }

tfoot { border-top: .125rem solid #333; }

tfoot td {
    padding: .3125rem;
    padding-bottom: 0;
}


/* titles */
header:before, header:after { content: ''; display: table; }
header:after { clear: both; }
header {
    border-bottom: .125rem dashed;
    padding-bottom: .5rem;
    margin-bottom: 2rem;
}

h1, h2 {
    color: #333;
    margin: 0;
}

h1 { font-size: 1.5rem; }

h2 {
    border-bottom: .0625rem dashed #ccc;
    font-size: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

header h1 { float: left; }

header .btn { float: right; }


/* lista */
.lista-tarefas,
.lista-tarefas li {
    list-style: none;
    padding: 0;
    margin: 0;
}

.lista-tarefas li:not(:last-child) {
    border-bottom: .0625rem dashed #ccc;;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
}

.lista-tarefas__item strong { color: #333; }

.lista-tarefas__item small {
    color: #999;
    font-size: .75em;
}

.lista-tarefas__item i {
    font-weight: bold;
    font-style: italic;
}