@charset "utf-8";
/*
preto: #020403;
cinza: #b9b9b9;
verde: #8bc324;
verde2: #3c8728;
*/

*, *:before, *:after {
    box-sizing: border-box;

    padding: 0;
    margin: 0;
}

html {
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 62.5%;
}

body {
    background-color: #020403;
    color: #b9b9b9;
    font-size: 1.4em;
    line-height: 1.714;
}

img { border: 0; }


.movie:before, .movie:after { content: ''; display: table; }
.movie:after { clear: both; }

.movie {
    padding: 1.5rem;
    width: 100%;
    max-width: 99rem;
}


/* POSTER
 ============================================================================ */
.movie__poster {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    width: 100%;
    max-width: 32rem;
    position: fixed;
    z-index: 5;
}

.movie__poster figcaption {
    font-size: 1rem;
    font-style: italic;
}

.movie__poster img {
    border: .1rem solid transparent;
    display: block;
    width: 100%;
    margin-bottom: .5rem;

    transition: .2s ease-in-out;
}

.movie__poster:hover img { border-color: #b9b9b9; }


/* INFOS
 ============================================================================ */
.movie__infos {
    background-color: rgba(2,4,3, .8);
    padding: 1.5rem;
    padding-left: 33.5rem;
    width: 100%;
    max-width: 100%;
    float: left;

    transition: opacity .2s ease-in-out;
}

.movie__header,
.movie__summary,
.movie__cast { margin-bottom: 3.5rem }


/* HEADER
 ============================================================================ */
.movie__header__title {
    color: #fff;
    font-size: 3rem;
    line-height: normal;
}

.movie__header__title small {
    color: #b9b9b9;
    font-size: .5em;
    font-weight: normal;
    font-style: italic;

    display: block;
}

.movie__header__meta {
    font-size: 1.2rem;
    margin-top: 1rem;
}

.movie__header__meta__list,
.movie__header__meta__list li,
.movie__cast__list,
.movie__cast__list li {
    list-style: none;
    padding: 0;
    margin: 0;
}

.movie__header__meta__list--inline li,
.movie__cast__list li { display: inline-block; }

.movie__header__meta__list--inline li:not(:last-child):after {
    content: '|';
    display: inline-block;
    margin-left: 1rem;
    margin-right: 1rem;
}

.movie__header__meta__list dt,
.movie__header__meta__list dd { float: left; }

.movie__header__meta__list dt {
    clear: left;
    margin-right: .5em;
}

.movie__header__meta__list dt { font-weight: bold; }

dl.movie__header__meta__list:before,
dl.movie__header__meta__list:after { content: ''; display: table; }

dl.movie__header__meta__list:after { clear: both; }


/* CAST
 ============================================================================ */
.movie__cast__list {
    font-size: 0;
    margin-right: -1.5rem;
    margin-left: -1.5rem;
}

.movie__cast__list li {
    text-align: center;
    padding: 1.5rem;
    width: 25%;
    vertical-align: top;
}

.movie__cast__list img {
    border: .1rem solid transparent;
    display: block;
    width: 100%;
    margin-bottom: .5rem;

    transition: .2s ease-in-out;
}

.movie__cast__list li:hover img { border-color: #b9b9b9; }

.movie__cast__list figcaption {
    font-size: 1.4rem;
    line-height: normal;
}

.movie__cast__list figcaption i { font-size: .8em; }


/* TRAILER
 ============================================================================ */
.movie__trailer {
    height: 0;
    padding-top: 25px;
    padding-bottom: 56.25%; /* 16:9 */
    position: relative;
}

.movie__trailer__video {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}


/* BACKGROUND
 ============================================================================ */
.movie__bg {
    opacity: 0;

    transition: opacity .2s ease-in-out;

    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.movie__poster:hover ~ .movie__bg { opacity: 1; }

.movie__poster:hover + .movie__infos { opacity: 0; }

.movie__bg__1,
.movie__bg__2,
.movie__bg__3,
.movie__bg__4,
.movie__bg__5 {
    background-size: cover;

    opacity: 0;

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;

    transition: .2s ease-in-out;
}

.movie__poster:hover ~ .movie__bg > .movie__bg__1 {
    background-image: url(../images/bg-1.jpg);
    opacity: 1;
    z-index: 0;
}

.movie__poster:hover ~ .movie__bg > .movie__bg__2 {
    background-image: url(../images/bg-2.jpg);
    opacity: 1;
    transition-delay: 3s;
    z-index: 1;
}

.movie__poster:hover ~ .movie__bg > .movie__bg__3 {
    background-image: url(../images/bg-3.jpg);
    opacity: 1;
    transition-delay: 6s;
    z-index: 2;
}

.movie__poster:hover ~ .movie__bg > .movie__bg__4 {
    background-image: url(../images/bg-4.jpg);
    opacity: 1;
    transition-delay: 9s;
    z-index: 3;
}

.movie__poster:hover ~ .movie__bg > .movie__bg__5 {
    background-image: url(../images/bg-5.jpg);
    opacity: 1;
    transition-delay: 12s;
    z-index: 4;
}