<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="x-ua-compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.1.1/normalize.min.css" />
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto:400,100' />
    <link rel="stylesheet" href="{{ page.root }}assets/css/style.css" />

    <title>Resolução de Exercícios - Leandro Araújo</title>
</head>
<body>

<div class="container">
    <header class="main-header">
        <h1 class="main-header__title">
            Desenvolvimento de Aplicações web
            <small>EAD</small>
        </h1>

        <div class="main-header__meta">
            PUC-MG -
            <strong>Leandro Araújo</strong>
        </div>
    </header>

    {{ content }}
</div>
</body>
</html>